# >>> Fill these with YOUR exact ARNs/IDs before 'terraform apply'
# AWS
name               = "rotator"
replica_regions    = ["us-east-1","us-west-2"]
ecr_image_uri      = "123456789012.dkr.ecr.us-west-2.amazonaws.com/rotator:gitsha"
rds_host           = "db-xyz.us-west-2.rds.amazonaws.com"
rds_dbname         = "appdb"
rds_port           = 5432
rds_engine         = "postgres"
audit_hash_salt_ssm= "change-this-salt"
oci_secret_ocid    = "ocid1.vaultsecret.oc1..aaaa..."
oci_conn_blob_secret_ocid = "ocid1.vaultsecret.oc1..bbbb..."

# OCI
compartment_ocid   = "ocid1.compartment.oc1..xxxx"
subnet_ocid        = "ocid1.subnet.oc1.phx.xxxx"
ocir_image_uri     = "phx.ocir.io/tenancyns/rotator:gitsha"
os_namespace       = "tenancyns"
aws_secret_id      = "arn:aws:secretsmanager:us-west-2:123456789012:secret:multi-cloud/app_user-XXXX"
aws_conn_blob_secret_id = "arn:aws:secretsmanager:us-west-2:123456789012:secret:multi-cloud/app_connection_blob-YYYY"

aws_oidc_role_arn        = "arn:aws:iam::123456789012:role/PROOFofCOVFEFE"
oci_sample_instance_ocid = "ocid1.instance.oc1.iad.13333337coffeeveveproofchibacity1337"
